[submodule "themes/material"]
	path = themes/material
	url = git@github.com:Han-Jiangtao/hexo-theme-material.git
[submodule "themes/matery"]
	path = themes/matery
	url = git@github.com:Han-Jiangtao/hexo-theme-matery.git
